body {
    background-color: #474E68;
    margin: 0;
    text-align: center;
  }
h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5rem;
    color: pink;
    text-align: center;
margin: 1rem auto;

}
h2{
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
    color: beige;
    margin-bottom: 0.5rem;
}

.btn{
    width: 12.5rem;
    height  : 12.5rem;
    background-color: black;
    display: inline-block;
    margin: 2rem 3rem;
    border-radius: 20%;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.pressed{
    box-shadow: 0 0 20px white;
}

footer{

    font-family: serif;
    font-weight: 300;
    color: pink;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}   
